.navbar {
 z-index: 2;
}

.navbar > .container {
  border-bottom: #f5d099 1px solid;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;

  @media (min-width: $screen-lg) {
    justify-content: flex-end;
  }

  .nav-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    text-transform: uppercase;

    .nav-link {
      color: rgba(255, 255, 255, 1);
      padding-bottom: 15px;
    }
  }

  .dropdown-menu {
    font-size: 14px;

    .dropdown-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      text-transform: none;

      &:last-child {
        border: none;
      }
    }
  }
}

.bg-yellow {
  @include yellowGradient();
}

.jumbotron {
  border-radius: 0;
}

.font {
  .navbar-brand .lead {
    display: none;
  }
}

.not-front {
  .navbar-brand {
    text-align: left;

    .lead {
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
}