.navbar {
 z-index: 2;

  .small-logo {
    svg {
      height: 40px;
      width: 40px;
    }
  }
}

.not-front .navbar .navbar-brand {
  display: none;

  @media (min-width: 470px) {
    display: inline-block;
  }
}

.navbar > .container {
  border-bottom: #f5d099 1px solid;
  width: 100%;
}

.navbar-nav {
  width: 100%;

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }

  @media (min-width: $screen-lg) {
    justify-content: flex-end;
  }

  .nav-item {
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }

    & + .nav-item {
      margin-left: 0;

      @media (min-width: $screen-md) {
        margin-left: 2rem;
      }
    }

    .nav-link {
      color: rgba(255, 255, 255, 1);
      padding-bottom: 15px;
    }
  }

  .dropdown-menu {
    font-size: 14px;

    .dropdown-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      text-transform: none;

      &:last-child {
        border: none;
      }
    }
  }
}

.front {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: flex-end;

    .nav-item {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      & + .nav-item {
        margin-left: 2rem;
      }
    }
  }
}

.bg-yellow {
  @include yellowGradient();
}

.jumbotron {
  border-radius: 0;
}

.font {
  .navbar-brand .lead {
    display: none;
  }
}

.not-front {
  .navbar-brand {
    text-align: left;

    .lead {
      @include rft(9,12);
      display: block;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
}