.small-search {
  margin-top: 40px;
  margin-bottom: 40px;
  @include make-row();
  justify-content: center;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .input-group {
    border-radius: 5px;
    border: $minion-red 2px solid;
    background: white;
  }

  input,
  button {
    border: none;
    border-radius: 0;
    background: none;
  }

  button {
    color: $minion-red;
    cursor: pointer;

    &:hover {
      background: $minion-red;
      color: white;
    }
  }

  .searchbox {
    @media (min-width: $screen-lg) {
      @include make-col(6);
      order: 0;
      align-self: auto;
    }
  }
}

.not-front .small-search {
  justify-content: flex-start;
}

.navbar-nav {
  .small-search {
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }

    @include placeholder-color(white);

    .input-group {
      background: none;
      border: $minion-pale-yellow 2px solid;
      color: $minion-pale-yellow;

      &:focus {
        background: white;
        border: $minion-red 2px solid;
        color: $text;

        @include placeholder-color(black);
      }
    }

    .searchbox {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}


