.small-search {
  margin-top: 40px;
  margin-bottom: 40px;
  @include make-row();
  justify-content: center;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .input-group {
    border-radius: 5px;
    border: $minion-red 2px solid;
    background: white;
  }

  input,
  button {
    border: none;
    border-radius: 0;
    background: none;
  }

  button {
    color: $minion-red;
    cursor: pointer;
  }

  .searchbox {
    @include make-col(6);
    order: 0;
    align-self: auto;
  }

  //todo in future
  /*.ex-search-link {
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    display: block;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }
  }*/
}

.not-front .small-search {
  justify-content: flex-start;
}

.navbar-nav {
  .small-search {
    margin: 0;

    @include placeholder-color(white);

    .input-group {
      background: none;
      border: $minion-pale-yellow 2px solid;
      color: $minion-pale-yellow;

      &:focus {
        background: white;
        border: $minion-red 2px solid;
        color: $text;

        @include placeholder-color(black);
      }
    }

    .searchbox {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.link_nb {
  display: block;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #e3e3e3;
  padding: 5px 0;
  color: $text;

  &.hidden {
    display: none;
  }

  span {
    float: right;
    color: white;
    border-radius: 2px;
    padding: 0 7px 2px 7px;
  }
}

//todo in future
/*
#ex-search-form {
  clear: both;
  margin-top: 20px;
  padding-top: $pad20;
  padding-bottom: $pad20;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  @media(min-width:768px) {
    margin-top: 0;
  }

  form {
    padding: 24px 24px 5px 24px;

    .ex-search-link {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      color: black;
      margin-top: 15px;
      margin-bottom: 5px;

      &:hover {
        color: $decl-green;
      }
    }

    .row {
      @media(min-width:768px) {
        display: flex;
      }

      .col {
        float: none;
      }
    }
  }

  .col-2 {
    fieldset {
      .form-group {
        display: block;
      }
    }
  }

  .col-2,
  .col-3 {
    fieldset {
      height: 100%;
    }
  }

  .form-group .checkbox label,
  .form-group .radio label,
  .form-group label,
  .checkbox label,
  .radio label,
  label {
    color: #333;
  }

  .checkbox {
    .checkbox-material + span {
      padding-left: 10px;
    }

    .checkbox-material {
      &:before {
        top: auto;
      }
    }
  }

  .dropdown {
    width: 100%;

    button {
      width: 100%;
      text-align: left;
      background: #eee;

      &:hover {
        background: $decl-blue;
        color: white;
      }
    }
  }

  #clear-filters {
    margin-top: 5px;
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
  }

  &.ex-search {
    .ex-search-link {
      display: none;
    }
  }
}
*/



