.small-profile {
  float: left;
  position: relative;

  .box {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    padding: 30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 95px;
      left: 0;
      top: 0;
      @include blueGradient();
    }

    &:hover {
      box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.23), inset 0 3px 10px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }

  .show-more {
    cursor: pointer;

    &:hover {
      color: $minion-red;
      text-decoration: underline;
    }
  }

  .profile-header {
    position: relative;
    z-index: 1;
  }

  $w: 100px;

  .avatar {
    float: left;
    display: block;
    height: $w;
    width: $w;
    border-radius: 100%;
    overflow: hidden;
    background: white;

    img {
      height: $w;
      width: auto;
      padding: 5px;
    }

    &.no-foto {
      position: relative;
      background: #eceeef;

      &:after {
        content: "\f3a0";
        font-family: "Ionicons";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        font-size: 80px;
      }
    }
  }

  .name,
  .descr {
    margin-left: $w + 20px;
  }

  .name {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    min-height: 62px;

    .match {
      background: $minion-red;
      text-decoration: none;
    }

    .pib {
      font-size: 20px;
      display: block;
      text-transform: none;
      color: $text;
    }
  }

  .descr {
    margin-left: 120px;
    position: relative;
    display: block;
    min-height: 30px;

    span {
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }

    span.small-tip {
      font-size: 12px;
      margin-left: -45px;
      color: #7B7B7B;
    }
  }

  .posipaky {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;

    .match {
      background: #fcf900;
      text-decoration: none;
    }

    > span {
      font-weight: bold;
    }

    > div > span {
      font-weight: bold;
    }

    .date {
      background: #acacac;
      font-size: 9px;
      display: inline-block;
      margin-top: 4px;
      opacity: 0.4;
      padding: 1px 5px;
    }
  }

  &.open,
  &:hover {
    @media (min-width: 992px) {
      z-index: 11;
    }

    .posipaky {
      .link_nb {
        &.hidden {
          display: block;
        }
      }

      .show-more {
        display: none;
      }
    }
  }
}

.row {
  .small-profile:last-child {
    @media (max-width: 991px) {
      margin-top: 40px;
    }
  }
}

