.svg-image svg {
  height: 100%;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.popover {
  p {
    margin-bottom: 0;
  }
}

#ua-map {
  .svg-image {
    display: block;
    width: 100%;
    height: 747px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;

  .page-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}

.hide {
  display: none !important;
}

.link_nb {
  position: relative;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #e3e3e3;
  padding: 5px 10px;
  color: $text;

  @media (min-width: $screen-lg) {
    display: table;
  }

  &:nth-child(odd) {
    background: #eee;
  }

  &.hidden {
    display: none;
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
  }

  .party {
    @media (min-width: $screen-lg) {
      display: table-cell;
    }
  }

  .convocation {
    @media (min-width: $screen-lg) {
      display: flex;
    }

    .radius {
      color: white;
      border-radius: 2px;
      padding: 0 7px 2px 7px;
      margin-left: 10px;
      white-space: nowrap;
    }
  }
}

.nav-tabs {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom: none;

  .nav-link,
  .nav-item {
    border-radius: 0;
    color: white;
  }

  .nav-item {
    border-right: #10c8bb 1px solid;
    border-bottom: none;
    margin-bottom: 0;

    p {
      font-size: 14px;
    }

    &:first-child .nav-link {
      border-top-left-radius: 0.25rem;
    }

    &:last-child {
      border-right: none;

      .nav-link {
        border-top-right-radius: 0.25rem;
        border-right: none;
      }
    }
  }

  .nav-link {
    opacity: 0.8;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    background: #5eccc4;

    &:hover {
      border-color: #37c4ba;
      background: #37c4ba;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    background: $decl-green;
    border-color: $decl-green;
    color: white;
    opacity: 1;
    font-weight: bold;
  }
}

.tab-content {
  background: $decl-green;

  .top_block {
    color: white;

    a {
      color: white;
    }
  }

  .top_block,
  .bottom_block {
    padding: 35px 25px;
  }

  .bottom_block {
    background: white;
  }
}

.blue-bg,
.link_nb span.blue {
  background: $decl-blue;
}

.yellow-bg {
  background: $minion-yellow;
}

.link_nb span.yellow  {
  background: $decl-green;
}

.popover-title {
  @include blueGradient();
  color: white;
}

.is-touch {
  .hidden-touch {
    display: none;
  }
}

.jumbotron {
  position: relative;
}

.bg-minions {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .bg-minions-container {
    position: relative;
    height: 100%;
    width: 100%;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 500px;
      max-width: 45%;
      position: absolute;
      top: -64px;
      opacity: 0.33;
      height: -webkit-calc(100% + 64px);
      height:    -moz-calc(100% + 64px);
      height:         calc(100% + 64px);
    }

    &:before {
      background: url('../images/minions-header-left.png') no-repeat center left;
      background-size: contain;
      left: 0;
      right: auto;
    }

    &:after {
      background: url('../images/minions-header-right.png') no-repeat center right;
      background-size: contain;
      left: auto;
      right: 0;
    }
  }
}

.not-front {
  .bg-minions .bg-minions-container:before {
    display: none;
  }
}

.main-content {
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 284px;
    height: 253px;
    position: absolute;
    top: auto;
    bottom: -80px;
    opacity: 0.1;
    z-index: -1;

  }

  &:before {
    background: url('../images/minion-left.png') no-repeat center left;
    background-size: contain;
    left: 0;
    right: auto;
  }

  &:after {
    background: url('../images/minion-right.png') no-repeat center right;
    background-size: contain;
    left: auto;
    right: 0;
  }
}