$line: #d2d2d2;
$decl-green: #01bbae;
$decl-blue: #168df2;

$text: #292b2c;
$minion-yellow: #f5b351;
$minion-red: #ff4e50;
$minion-pale-yellow: #f5d099;

$screen-sm: 576px;
$screen-sm-max: 767px;
$screen-md: 768px;
$screen-md-max: 991px;
$screen-lg: 992px;
$screen-lg-max: 1199px;
$screen-xl: 1200px;