@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.navbar-nav .nav-item .nav-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
}

.text-underline {
  text-decoration: underline;
}

h1 {
  @include rft(28, 40);
}

h4 {
  @include rft(20, 24);
}