.county-page {
  .jumbotron {
    color: white;
  }

  .county-header {
    a {
      color: white;
      text-decoration: underline;
    }

    @media (min-width: 992px) {
      justify-content: space-between;
      display: flex;

      > div {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

.county-container {
  position: relative;
  z-index: 1;
}