.front {
  .navbar-nav {
    justify-content: center;
  }

  .jumbotron {
    color: white;

    .stats {
      width: 100%;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 72px; //todo

      li {
        display: inline-block;
        text-align: center;
      }

      span {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }

  .small-search {
    margin-top: 80px;

    .input-group {
      border-radius: 5px;
      border: $minion-red 2px solid;
      background: white;
    }

    input,
    button {
      border: none;
      border-radius: 0;
      background: none;
    }

    button {
      color: $minion-red;
    }
  }
}