.search-page {
  background: #eceeef;

  &.open {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      z-index: 10;
    }
  }

  .jumbotron {
    color: white;
  }
}

.search-grouper-title {
  //background: $decl-green;
  //color: white;
  //padding: 20px 40px;
  margin-bottom: 0;
  font-size: 1.5rem;

  &.body-grouper {
    font-size: 1.25rem;
    padding: 10px 40px;
  }
}

.search-results {
  .row {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;

    &:first-of-type {
      margin-top: 40px;
    }
  }
}

.county-page {
  .jumbotron {
    color: white;
  }
}

