.search-page,
.county-page {
  background: #eceeef;

  &.open {
    position: relative;

    @media (min-width: 992px) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 10;
      }
    }
  }

  .jumbotron {
    color: white;
  }
}

.search-grouper-title {
  margin-bottom: 0;
  font-size: 1.5rem;

  &.body-grouper {
    font-size: 1.25rem;
    padding: 10px 40px;
  }
}

.search-results {
  .row {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;

    &:first-of-type {
      margin-top: 40px;
    }
  }
}

.county-page {
  .jumbotron {
    color: white;
  }

  .county-header {
    @media (min-width: 992px) {
      justify-content: space-between;
      display: flex;

      > div {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

