Django==2.0.6
elasticsearch-dsl==6.1.0
openpyxl==2.4.8
psycopg2==2.7.3.2
requests==2.18.4
Pillow==4.2.1
django-pipeline==1.6.14
django_jinja==2.4.1
translitua==1.2.4
easy-thumbnails==2.5
raven==6.9.0
tqdm==4.23.0
names-translator==1.0.3