<div class="small-search">
    <div class="searchbox">
        <form action="{{ url('search') }}" method="GET">
            <div class="input-group">
                <input type="text" name="q" class="form-control search-name" placeholder="Знайти посiпаку...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="icon ion-search"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>
