{% extends "base.jinja" %}
{% block body_class %}not-front county-page{% endblock %}

{% block title %}{{ region.name}}, помічники депутатів обласної та міської ради{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow pb-1 pt-4">
        <div class="container">
            <h1>{{ region.name }}</h1>

            {% include "_search_form.jinja" %}

            <div class="county-header">
                {% for office in convocations|groupby('office.name') %}
                    <div>
                        <h2>{{ office.grouper }}:</h2>
                        {% for conv in office.list %}
                            <p><a href="{{ conv.get_absolute_url() }}" title="Фільтрувати за скликанням"><i class="icon ion-funnel"></i> {{ conv.number }}-е скликання, {{ conv.year_from }}-{{ conv.year_to }}, Депутатів: {{ conv.num_mps }}, Помічників: {{ conv.num_minions }}</a></p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "_search_results.jinja" %}
{% endblock %}