{% extends "base.jinja" %}

{% block body_class %}front{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow pb-1 pt-4">
        <div class="bg-minions"><div class="bg-minions-container"></div></div>
        <div class="container">
            <div class="intro text-center">
                <h1>Посіпаки-2. Мініміньони</h1>
                <p class="lead">Помічники регіональних депутатів</p>
                <p class="small">База даних помічників депутатів обласних та міських рад на основі даних офіційних відповідей та сайтів</p>
            </div>

            {% include "_search_form.jinja" %}

            <ul class="stats mt-4">
                <li><span class="count">{{ count_of_minions }}</span> <span>помічників</span></li>
                <li><span class="count">{{ count_of_mps }}</span> <span>депутатів</span></li>
            </ul>

        </div>
    </section>

    <section class="map" id="ua-map">
        <div class="container">
            <div class="hidden-touch">
                <h5 class="text-sm-center">По регіонам</h5>
                {% include "_svg_map.jinja" %}
            </div>

            <table id="ua-map-table" class="table table-responsive table-striped table-bordered dataTable"></table>

            <div class="mt-4 small">
                <p>Здійснено в рамках проекту за підтримки Фонду розвитку ЗМІ Посольства США в Україні. Погляди авторів не обов"язково збігаються з офіційною позицією уряду США.<br>
                Supported by the Media Development Fund of the U.S. Embassy in Ukraine. The views of the authors do not necessarily reflect the official position of the U.S. Government</p>
            </div>
        </div>
    </section>
{% endblock %}
