{% extends "base.jinja" %}

{% block body_class %}front{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow pb-1 pt-4">
        <div class="container">
            <div class="intro text-sm-center">
                <h1>Posiparium</h1>
                <p class="lead">Помічники народних депутатів</p>
                <p class="small">Відкрита база даних помічників народних депутатів України створена на основі офіційної інформації Апарату Верховної Ради України.</p>
            </div>

            {% include "_search_form.jinja" %}

            <ul class="stats text-sm-center mt-4">
                <li><span class="count">{{ count_of_minions }}</span> <span>помічників</span></li>
                <li><span class="count">{{ count_of_mps }}</span> <span>депутатів</span></li>
            </ul>

        </div>
    </section>

    <section class="map" id="ua-map">
        <div class="container">
            <h5 class="text-sm-center">По регіонам</h5>
            {% include "_svg_map.jinja" %}

            <table id="ua-map-table" class="table table-striped table-bordered dataTable"></table>

        </div>
    </section>
{% endblock %}
