{% extends "base.jinja" %}

{% block content %}
    <section class="jumbotron bg-yellow">
        <div class="container">
            <div class="intro text-sm-center">
                <h1>Posiparium</h1>
                <p class="lead">Помічники народних депутатів</p>
                <p class="small">Відкрита база даних помічників народних депутатів України створена на основі офіційної інформації Апарату Верховної Ради України.</p>
            </div>

            <div class="small-search">
                <div class="searchbox">
                    <form action="{{ url('search') }}" method="GET">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control search-name" placeholder="Знайти посiпаку...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="icon ion-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <a class="ex-search-link" href="/search.html#exsearch">Розширений пошук</a>
                </div>
            </div>

        </div>
    </section>

    <section class="map" id="ua-map">
        <div class="container">
            <h2>Всього помічників: {{ count_of_minions }}</h2>
            <h3>Всього депутатів: {{ count_of_mps }}</h3>

            {% include "_svg_map.jinja" %}

            <table id="ua-map-table" class="table table-striped table-bordered dataTable"></table>

        </div>
    </section>
{% endblock %}
