{% extends "base.jinja" %}
{% block title %}{{ minion.name }}, помічник депутата{% endblock %}
{% block body_class %}not-front profile-page minion-page{% endblock %}

{% block navigation %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="small-logo mr-1" href="/"><span class="nevid svg-image logo"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static('assets/images/svg/svg-images-sprite.svg') }}#minions2"></use></svg></span></a>
    <a class="navbar-brand pt-0" href="/">Посіпаки-2. Мініміньони <span class="lead">База помічників регіональних депутатів</span></a>

    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Регіони</a>
                <div class="dropdown-menu" aria-labelledby="dropdownR">
                    {% for region in all_regions %}
                        <a class="dropdown-item" href="{{ region.get_absolute_url() }}">{{ region.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://bihus.info/projects/posipaki-2" target="_blank">Про проект</a>
            </li>
            <li class="nav-item">
                {% include "_search_form.jinja" %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow"></section>

    <section class="profile">
        <div class="container" itemscope="" itemtype="http://schema.org/Person">

            <h1 class="mt-0 mb-3">{{ minion.name }}</h1>
            <h4>був помічником у:</h4>

            <span itemprop="name" class="hide">{{ minion.name }}</span>
            <span itemprop="jobTitle" class="hide">Помічних депутата</span>
            <link itemprop="url" href="{{ minion.get_absolute_url() }}">

            <div class="tab-content">
                <div class="bottom_block">
                    <ul>
                    {% for mp in minion.mp.all() %}
                        <li class="link_nb">
                            <span class="party">
                                <a href="{{ mp.mp.get_absolute_url() }}">
                                {{ mp.mp.name }}
                            {% if mp.party %}
                                , {{ mp.party }}
                                </a>
                            {% endif %}
                            </span>
                            <span class="convocation">
                                {% if mp.convocation.number %}
                                    <span class="radius yellow">
                                        <a href="{{ mp.convocation.get_absolute_url() }}">{{ mp.convocation.number }}-е скликання</a>
                                    </span>
                                {% endif %}
                                {% if mp.convocation.office.name %}
                                    <span class="radius yellow">
                                        {{ mp.convocation.office.name }}
                                    </span>
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}