{% extends "base.jinja" %}
{% set first_convo = mp.mp2convocation_set.all()|first %}
{% block title %}{{ mp.name }}, помічники депутата{% if first_convo %}, {{ first_convo.convocation }}{% endif %}{% endblock %}
{% block body_class %}not-front profile-page{% endblock %}

{% block navigation %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="small-logo mr-1" href="/"><span class="nevid svg-image logo"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ static('assets/images/svg/svg-images-sprite.svg') }}#minions2"></use></svg></span></a>
    <a class="navbar-brand pt-0" href="/">Посіпаки-2. Мініміньони <span class="lead">База помічників регіональних депутатів</span></a>

    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Регіони</a>
                <div class="dropdown-menu" aria-labelledby="dropdownR">
                    {% for region in all_regions %}
                        <a class="dropdown-item" href="{{ region.get_absolute_url() }}">{{ region.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://bihus.info/projects/posipaki-2" target="_blank">Про проект</a>
            </li>
            <li class="nav-item">
                {% include "_search_form.jinja" %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow">
        <div class="bg-minions"><div class="bg-minions-container"></div></div>
        <div class="container">
            <div class="media">
                {% if mp.img %}
                    <img class="align-self-center mr-3 rounded-circle" src="{{ mp.img|thumbnail_url("avatar") }}" alt="{{ mp.name }}">
                {% else %}
                    <div class="no-foto align-self-center mr-3 rounded-circle"></div>
                {% endif %}
                <div class="media-body align-self-center">
                    <h1 class="mt-0 mb-3">{{ mp.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="profile">
        <div class="container" itemscope="" itemtype="http://schema.org/Person">
            <span itemprop="name" class="hide">{{ mp.name }}</span>
            <span itemprop="jobTitle" class="hide">Депутат</span>
            <link itemprop="url" href="{{ mp.get_absolute_url() }}">
            <link itemprop="image" href="{{ mp.img|thumbnail_url("avatar") }}">

            <ul class="nav nav-tabs" role="tablist">
                {% for convo in mp.mp2convocation_set.all() %}
                <li class="nav-item">
                    <a class="nav-link active" href="#conv_{{ convo.pk }}" role="tab" data-toggle="tab">{{ convo.convocation.number }} скликання, <p>{{ convo.convocation.office.name }}</p> </a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for convo in mp.mp2convocation_set.all() %}
                {% set convocation = convo.convocation %}
                <div role="tabpanel" class="tab-pane fade show active" id="{{ convo.pk }}">
                    <div class="top_block main_information cf" itemscope="" itemtype="http://schema.org/Organization" itemprop="memberOf">
                        {% if convo.party %}<p itemprop="name"><span class="f_left">Партія</span> {{ convo.party }}</p>{% endif %}
                        {% if convo.fraction %}<p><span class="f_left">Фракція</span> {{ convo.fraction }}</p>{% endif %}
                        {% if convo.comission %}<p><span class="f_left">Комісія</span> {{ convo.comission }}</p>{% endif %}
                        {% if convo.link %}
                        <p><a class="find_viki" href="{{ convo.link }}" target="_blank"><i class="icon ion-ios-world-outline"></i> <span class="text-underline">Офіційна сторінка</span></a></p>
                        {% endif %}
                        <p><span class="f_left"><i class="icon ion-android-calendar"></i> Період</span> з {{ convocation.year_from }} по {{ convocation.year_to }}</p>
                    </div>

                    <div class="bottom_block">
                        <div class="person_count">
                            {% set minions_count = convo.minion2mp2convocation_set.count() %}
                            <p><strong>{{ minions_count }} {{ minions_count|uk_plural("помічник,помічника,помічників") }}</strong> <span class="float-right">Актуальність інформації</span></p>

                        </div>
                        <ul class="wrap_block">
                            {% for minion_link in convo.minion2mp2convocation_set.all() %}
                                <li class="link_nb">
                                    <h2 itemprop="name" class="party"><a href="{{ minion_link.minion.get_absolute_url() }}">{{ minion_link.minion.name }}</a></h2>
                                    <span itemprop="jobTitle" class="hide">Помічник депутата</span>
                                    {% if minion_link.confirmed %}
                                        <span class="convocation">
                                            <span class="radius yellow">{{ minion_link.confirmed|format_date }}</span>
                                        </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}