{% extends "base.jinja" %}
{% block body_class %}not-front search-page{% endblock %}

{% block content %}
    <section class="jumbotron bg-yellow pb-1 pt-4">
        <div class="container">
            <h1>Пошук<span class="search-string"></span></h1>
            {% include "_search_form.jinja" %}
        </div>
    </section>

    {% include "_search_results.jinja" %}
{% endblock %}